@using CSMVC4SchoolProject.Models
@model List<EnrollmentType>

@{
    ViewBag.Title = "Enrollment Types";
}

<h2>Enrollment Types</h2>
<a href="EnrollmentTypes/Add" class="btn">Add</a><br /><br />
<table>
    <tr>
        <td>
            Enrollment Type
        </td>
        <td>
            Order
        </td>
        <td>

        </td>
    </tr>
    @foreach (EnrollmentType et in @Model)
    {
        <tr>
            <td class="mediumTableWidth">@et.Description</td>
            <td class="mediumTableWidth">@et.DisplayOrder</td>
            <td><a href="EnrollmentTypes/Edit?ID=@et.KeyField" class="btn">Edit</a> <a href="EnrollmentTypes/Delete?ID=@et.KeyField" class="btn" onclick="return confirm ('Delete this enrollment type?');">Delete</a></td>
        </tr>
    }
</table>